<html>
    {% load static %}
    {% include "head.html" %}
    <body>
        <div class="container">
            <h2>Lista de libros</h2>
            <div class="alert alert-secondary" role="alert">
                Lista de libros ingresadas en el sistema.
            </div>
            <hr>
            <!-- Tabla con datos-->
            {% if libros %}
            <table class="table">
                <thead>
                    <tr>
                        <th>ID </th>
                        <th>Titulo</th>
                        <th>Autor</th>
                        <th>Editorial</th>
                        <th>Fecha publicacion</th>
                        <th>Comentarios</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for libros in libros %}
                    <tr>
                        <td> {{ libros.id_libro }} </td>
                        <td> {{ libros.titulo }} </td>
                        <td> {{ libros.autor }} </td>
                        <td> {{ libros.editorial }} </td>
                        <td> {{ libros.fecha_publicacion }} </td>
                        <td> {{ libros.comentarios}}</td>
                         <td>
                            <a href=""><i class="fas fa-pen"></i></a>
                            <a href="#" onclick="eliminarLibro('{{ libros.id_libro }}')"><i class="fas fa-trash"></i></a>
                            <a href=""><i class="fas fa-edit"></i></a>
                        </td>
                    </tr>
                    {% endfor %}

                    <script>
                        function eliminarLibro(idLibro) {
                            if (confirm('¿Estás seguro de que deseas eliminar este libro?')) {
                                window.location.href = '/eliminar_libro/?id=' + idLibro;
                            }
                        }
                    </script>

                </tbody>
            </table>
            {% else %}
            {% endif %}
        </div>
    </body>
</html>
