<html>
    {% load static %}
    {% include "head.html" %}
    {% include "navbar.html" %}
    <body>
        <div class="container">
            <h2>Lista de libros</h2>
            <div class="alert alert-secondary" role="alert">
                Lista de libros ingresadas en el sistema.
            </div>
            <hr>
            <!-- Tabla con datos-->
            {% if libros %}
            <table class="table">
                <thead>
                    <tr>
                        <th>ID </th>
                        <th>Titulo</th>
                        <th>Autor</th>
                        <th>Editorial</th>
                        <th>Fecha publicacion</th>
                        <th>Comentarios</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for libros in libros %}
                    <tr>
                        <td> {{ libros.id_libro }} </td>
                        <td> {{ libros.titulo }} </td>
                        <td> {{ libros.autor }} </td>
                        <td> {{ libros.editorial }} </td>
                        <td> {{ libros.fecha_publicacion }} </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% else %}
            {% endif %}
        </div>
    </body>
</html>
